<div class="Container">
  <div class="Row">

    <div class="Col-12 Col-lg-8 P-1">

      <div class="Card Card-body MB-2">
        <h5 class="Card-title">Purpose</h5>
        <p>This is the Columnist's article's details page </p>
      </div>

      <div class="Card Card-body MB-2">
        article <br>
        köşe yazısı
      </div>
      <div class="Card Card-body MB-2">
        comments
      </div>
    </div>

    <div class="Col-12 Col-lg-4 P-1">
      <app-user-card [IsWide]="false" [User]="Editor"></app-user-card>
      <div class="Card Card-body MB-2">
        Back to columnist main feed<br>
        other writers
      </div>
    </div>


  </div>
</div>
