<div class="Container">
  <div class="Row">
    <div class="Col-12 MB-2">

      <div class="Card Card-body MB-2">
        Editor Roles: [Commenter,Columnist,Detective]


        Mockups
        <a [routerLink]="'/Home/Mockup/TargetHome'">Target Home</a>
        <br>
        wikipedia
      </div>

      <div class="Card Card-body MB-2">
        Rules
        <ul>
          <li>every login users is called [Editor] & their default role is "Commenter"</li>
          <li>default users can only comment or fallow</li>
          <li>for write a case or column, needs specific role</li>
          <li></li>
          <li>Swear Jar: place of money taken from editor[Commenter]</li>
          <li>Swear Jar: every swear in comment is censured [like spoiler]. only way to show them is pay us from [Swear
            Jar]
          </li>
          <li></li>
          <li>Donate System: No Ad Policy, Editors [Columnist,Detective] can take donate [20% of donate is taken from us
            :p]
          </li>
          <li></li>
          <li>Not just people lies, news site or channel lies too / or tagged</li>
          <li></li>
        </ul>
      </div>

      <div class="Card Card-body MB-2">
        Entity - Cases
        <br>
        <ul>
          <li>Only editor[Detective] can write a case</li>
          <li>default users can request a case, that collected to a pool system</li>
          <li>Detectives pick a case request then search, investigate and write proper case</li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="Card Card-body MB-2">
        Columnist - Articles
        <br>
        <ul>
          <li>Only editor[Columnist] can write an Article</li>
          <li>Article must be enters once a day or week</li>
          <li></li>
        </ul>
      </div>

      <div class="Card Card-body MB-2">
        Headlines
        <br>
        <ul>
          <li>collection of daily cases or columns</li>
          <li>for specific login user location or a world map: user can choose a places pick entries</li>
        </ul>
      </div>

      <div class="Card Card-body MB-2">
        Challenge
        <ul>
          <li>versus system</li>
          <li>if some detectives went same case different side, than they can challenge each other.. 1h live 5 min</li>
        </ul>
      </div>

    </div>
  </div>
</div>
